/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 64px;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

/* Variables */
:root {
    --main-color: #035163;
    --second-color: #BDB76B;
    --text-color: #026988;
    --bg-color: white;
    --nav-color: #2A9D8F;
}

body {
    color: var(--text-color);
    background-image: url(images/bg.jpeg); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

section {
    padding: 50px 100px;
}

img {
    width: 100%;
}

/* Header */
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 5%;
    transition: 0.5s linear;
    background: var(--nav-color);
}

.logo img {
    width: 110px;
    padding-left: 25px;
    padding-right: 25px;
}

.navbar {
    display: flex;
}

.navbar a {
    padding: 8px 35px; 
    color: var(--bg-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    margin-right: 18px;
}

.navbar a:hover, .navbar a.active {
    background: var(--main-color);
    border-radius: 0.2rem;
    transition: 0.2s all linear;
}

.navbar a[href="login.html"]:hover {
    background: none;
    border-radius: 0;
    transition: none;
}

#menu-icon {
    color: var(--bg-color);
    font-size: 24px;
    z-index: 100001;
    cursor: pointer;
    display: none;
}

/* Home Section */
.home {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
    align-items: center;
    gap: 1.5rem;
    padding-bottom: 0px;
}

.home-text h1 {
    font-size: 3.4rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    text-transform: none;
    letter-spacing: 1px;
    margin: 4rem 0 0.5rem;
}

.home-text h6 {
    font-size: 20px;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #996F51;
    margin: 0.7rem 0;
}

.home-text p {
    font-size: 0.938rem;
    color: #351303;
    margin: 0.5rem 0 1.4rem;
}

/* Button */
.button {
    padding: 10px 40px;
    border-radius: 0.3rem;
    background-color: #996F51; 
    font-weight: 500;
    color: black;
}

.button:hover {
    background: white;
}

/* What We Do Section */
.what-we-do {
    text-align: center;
    padding: 10px 100px 10px 100px;
    cursor: pointer;
}

.what-we-do h1 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: black;
    font-family:'Times New Roman', Times, serif;
    font-weight: 400;
    cursor: pointer;
    
}

/* Services Section */
.services-container {
    display: flex;
    justify-content: center;
    gap: 90px;
    flex-wrap: wrap;
    cursor: pointer;
}

.service-box {
    background: white;
    padding: 20px;
    width: 380px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.service-box:hover {
    transform: translateY(-5px);
}

.service-box h3 {
    font-size: 1.2rem;
    margin-top: 10px;
    color: black;
}

.service-box p {
    font-size: 1rem;
    color: #351303;
    margin-top: 10px;
    text-align: justify;
}

.testimonials-section {
    padding: 10px 100px 10px 100px;
    margin-bottom: 60px;
    position: relative;
}

.testimonials-container {
    display: flex;
    justify-content: center;
    gap: 90px;
    max-width: 1310px;
    flex-wrap: wrap;
    cursor: pointer;
    margin: 0 auto;
}

.testimonial {
    flex: 1;
    display: flex;
    background-color: black;
    padding: 15px 25px;
    border-radius: 25px;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.testimonial-profile {
    margin-right: 15px;
}

.testimonial-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #ccc;
}

.testimonial-content {
    flex: 1;
}

.testimonial-content p {
    color: white;
    margin-bottom: 0px 5px 5px 5px;
}

.rating {
    letter-spacing: 2px;
    color: #996F51;
}

footer{
    background-color: var(--nav-color);
}

.footerContainer {
    width: 100%;
    padding: 10px 30px 10px;
}

.soc_med_links {
    display: flex;
    justify-content: center;
}

.soc_med_links a {
    text-decoration: none;
    padding: 10px;
    margin: 10px 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;  
    height: 60px; 
    transition: 0.3s ease;
}

.soc_med_links a i {
    font-size: 2rem;
    color:white;
    transition: 0.3s ease;
}

.soc_med_links a:hover {
    background-color: var(--main-color);
    color: white;
    transition: 0.5s;
    transform: scale(1.1);   
}

.footerBottom {
    background-color: black;
    padding: 15px;
    text-align: center;
    color: white;
    font-weight: 400;
}

@media (max-width: 700px) {
    .footerNav ul {
        flex-direction: column;
    }
    .footerNav ul li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }
    .testimonials-container {
        flex-direction: column;
        gap: 15px;
    } 
    .testimonial {
        width: 100%;
    }
    .testimonials-section {
        padding: 20px 30px;
    }
}


